/*
Theme Name: Dark Agency Template
Author: DeviserWeb
Author URI: http://www.deviserweb.com
version:1.0
*/

body{
	font-family: fantasy;
	font-size: 18px;
}
.header{
	background: url('home.jpg');
	width:100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no repeat;
}
.footer{
	background: url('home.jpg');
	width:100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no repeat;
}
.site-footer{
	text-align: center;
}